<main class="main">
   <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "こんにちは、" %>
        <%= link_to "#{current_user.nickname}さん", "/users/#{current_user.id}", class: :hoge%>
      </div>
    <% end %>
  <%= render partial: 'work' , collection: @works %>
</main>